@import '../setup/variables.scss';


.rev-list {
    margin-inline-start: $header-gap;
    justify-content: flex-start;
    align-items: flex-start;
    .review-item{
        margin-bottom: 10px;
        padding: 20px;
        border-radius: 5px 10px 12px 5px;
        background: lighten($clr4,10);
    }
    
}

.rev-list-title {
    margin-bottom: 20px;
    margin-inline-start: $header-gap;
    padding: 10px 0;
}